@import "./styles/base.scss";

:root {
  --primary-color: #002855;
  --fg-color: #fff;
  --link-color: rgb(225, 225, 225);
  --duration: 10s;
  --easing: cubic-bezier(0.5, 0.1, 0.5, 1);
}

body {
  font-family: "Open Sans", sans-serif;
  padding: 5vmin;
  background-color: var(--primary-color);
  color: var(--fg-color, white);
}

a {
  color: var(--link-color);
}

h1 {
  margin: 0;
}

small {
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  margin: 1rem 0;
}

.balls {
  display: flex;
  gap: 3rem;
}

.ball {
  height: 5vmin;
  width: 5vmin;
  border-radius: 50%;
  background: green;
  //animation: slide-right var(--duration) var(--easing) infinite;
  //transition: all 2s ease-in-out;
  //animation: move-like-a-square var(--duration) var(--easing) infinite;

  --duration: 2s;
  --stagger: 0.1s;
  --interval: calc(var(--duration) - var(--stagger));
  --easing: cubic-bezier(0.5, 0.1, 0.5, 1);
  animation: move-right var(--duration) calc(var(--interval) * var(--i) / 10)
    both var(--easing) infinite;
}

.ball:hover {
  transition: all 1s ease-in-out;
  background: #fb2324;
  transform: scale(2);
}

.button {
  appearance: none;
  background: #fb2324;
  color: #fff;
  font-weight: bold;
  padding: 2rem 3rem;
  border: none;
  transition: all 0.3s;
}

.button:hover {
  background: #fff;
  color: #fb2324;
}

.button:active {
  transition-duration: 0.1s;
  transform: scale(0.9);
}

@keyframes move-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20vw);
  }
  100% {
    transform: translateX(0);
  }
}

// @keyframes slide-right {
//   0% {
//     transform: translateX(0) scale(1) translateY(0);
//   }
//   30% {
//     transform: translateX(10vw) scale(1.5) translateY(5vh);
//   }
//   60% {
//     transform: translateX(20vw) scale(1.25) translateY(-5vh);
//   }
//   100% {
//     transform: translateX(30vw) scale(1) translateY(0);
//   }
// }

// @keyframes move-like-a-square {
//   0% {
//     transform: none;
//   }
//   25% {
//     transform: translateX(20vw);
//   }
//   50% {
//     transform: translateX(20vw) translateY(20vh);
//   }
//   75% {
//     transform: translateY(20vh);
//   }
//   100% {
//     transform: none;
//   }
// }
